{
    "git": {
        "branch": "deploy",
        "repo": "https://github.com/your_repo.git"
    },
    "msbuild": {
        "publishFolder": "wineme",
        "publishProfile": "FolderProfile.pubxml",
        "projectFileName": "Mixcore.csproj",
        "projectFolder": "F:/Mixstudio/wineme.today/source/mix.core/src/Mix.Cms.Web"
    },
    "ignorePublishingFile": [
        "web.config",
        "appsettings.json"
    ]
}