{
    "git": {
        "branch": "deploy",
        "repo": "https://github.com/your_repo.git"
    },
    "msb": {
        "deployFolderName": "deploy_folder_name",
        "deployProfile": "FolderProfile.pubxml",
        "projectFileName": "project_name.csproj",
        "projectFolder": "F:/project_folder"
    }
}